
@import 'reset.scss';
@import 'animate.scss';
//@import 'bootstrap/bootstrap-grid.scss';

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
$lg: 1140px;
$md: 1024px;
$sm: 768px;
$sx: 480px;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');

@mixin font-light {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
@mixin font-regular {
  font-family: 'Titillium Web', sans-serif;
}
@mixin font-bold {
  font-family: 'Titillium Web', sans-serif;
  font-weight:700;
}

//--Styles for cyrcle graphics
$size: 165px;
@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

.progress-pie-chart {
  margin: 0 auto;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: #81CE97;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, 0);
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #81CE97;
    transform: rotate(60deg);
    &.right-side {
      transform: rotate(180deg);
    }
    &.left-side {
      transform: rotate(290deg);
    }

  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.18});
  background: #fff;
  text-align: center;
  display: table;
  p{
    @include font-light;
    font-size: 50px;
    color: #3c4761;
  }
  span {
    //display: block;
    font-size: 32px;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
//-- End of styles for cyrcle graphics




* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body{
  &.fix {
    overflow: hidden;
  }
}
.wrapper {
  position: relative;
  //padding-bottom: 110px;
  min-height: 100%;
  z-index: 1;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 1140px;
  @media screen and (max-width: $lg) {
    width: 100%;
  }
}

.header {
  //position: absolute;
  //top: 0;
  //left: 0;
  padding-top: 57px;
  width: 100%;
  background-color: #87509c;
  .container {
    @include clearfix;
    padding: 0 25px;
  }
  .logo {
    float: left;
    padding-left: 40px;
    @media screen and (max-width: $md) {
      padding-left: 15px;
    }
  }
  .nav {
    float: right;
    margin-top: 10px;
    transition: all ease .5s;
    @include clearfix;
    .menu-toggle {
      display: none;
      position: absolute;
      width: 60px;
      height: 60px;
      cursor: pointer;
      overflow: hidden;
      transition: all ease .5s;
      &-wrap {
        position: relative;
      }
      span {
        position: absolute;
        top: 28px;
        left: 25%;
        background-color: #fff;
        width: 30px;
        height: 3px;
        &:before {
           content: "";
           position: absolute;
           top: 8px;
           background-color: #fff;
           width: 30px;
           height: 3px;
         }
        &:after {
          content: "";
          position: absolute;
          bottom: 8px;
          background-color: #fff;
          width: 30px;
          height: 3px;
        }
      }
    }
    ul {
      li {
        float: left;
        a {
          margin: 0 6px;
          padding: 5px 16px;
          @include font-regular;
          font-size: 16px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          border-radius: 3px;
        }
        &:hover {
          a {
            background-color: #643a79;
          }
        }
      }
    }
    &.active {
      transform: translateX(0px);
    }
    @media screen and (max-width: $md) {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
      width: 200px;
      height: 100vh;
      background-color: #fff;
      transform: translateX(200px);
      .menu-toggle {
        display: block;
        top: 50px;
        left: -60px;
      }
      ul {
        padding-top: 47px;
        li {
          display: block;
          float: none;
          margin-top: 15px;
          a {
            display: block;
            text-align: center;
            color: #000;
            word-wrap: break-word;
          }
          &:hover {
            a {
              background-color: rgba(#eeeeee, 0.9);
            }
          }
        }
      }
      &.active {
        .menu-toggle {
          background-color: #fff;
          span {
            background-color: #000;
            transform: translateX(-60px);
            &:before, &:after {
              opacity: 1;
              background-color: #000;
            }
            &:before {
              top: 0px;
              transform: translateX(60px) rotate(45deg);
            }
            &:after {
              bottom: 0px;
              transform: translateX(60px) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 26px 0;
  width: 293px;
  @include font-bold;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 7px;
  transition: background-color ease .5s;
  cursor: pointer;
  // border-bottom: 4px solid darken( #eb7d4b, 9% );
  // background-color: #eb7d4b;

}

.top {
  padding-top: 134px;
  padding-bottom: 140px;
  background-color: #87509c;
  strong {
    display: block;
    margin-bottom: 50px;
    @include font-bold;
    font-size: 42px;
    color: #f7f3ea;
    text-align: center;
    line-height: 49px;
  }
  &-btn {
    @extend .btn;
    color: #fff;
    border-bottom: 4px solid darken( #eb7d4b, 9% );
    background-color: #eb7d4b;
    &:hover {
      background-color: darken( #eb7d4b, 9% );
    }
  }
  @media screen and (max-width: $sm) {
    strong {
      font-size: 33px;
    }
  }
}
.h2 {
  margin-bottom: 46px;
  position: relative;
  @include font-bold;
  font-size: 40px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  &:after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 87px;
    height: 4px;
  }
  @media screen and (max-width: $sx) {
    font-size: 32px;
    letter-spacing: normal;
  }
}
.h3 {
  @include font-bold;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.subheading {
  display: block;
  @include font-regular;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.section {
  padding-top: 113px;
  padding-bottom: 125px;
  @media screen and (max-width: $sm) {
    padding-top: 80px;
    padding-bottom: 85px;
  }
}

.services {
  background-color: #17c2a4;
  .container {
    //padding: 0 35px;
  }
  h2 {
    @extend .h2;
    &:after {
      background-color: #14a58c;
    }
  }
  .subheading {
    margin-bottom: 72px;
    color: #fff;
  }
}
.services-wrap {
  @include clearfix;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  .service {
    //float: left;
    flex-basis: 25%;
    max-width: 260px;
    img {
      display: block;
      margin: 0 auto 60px auto;
      //width: 170px;
      height: 133px;
    }
    //.img {
    //  display: block;
    //  margin: 0 auto 60px auto;
    //  width: 170px;
    //  height: 133px;
    //  background-image: url(../img/services.png);
    //}
    //&:nth-child(1){
    //  .img {
    //    background-position: 14px 0;
    //  }
    //}
    //&:nth-child(2){
    //  .img {
    //    background-position: -257px 0;
    //  }
    //}
    //&:nth-child(3){
    //  .img {
    //    background-position: -536px 0;
    //  }
    //}
    //&:nth-child(4){
    //  .img {
    //    background-position: -821px 0;
    //  }
    //}
    h3 {
      @extend .h3;
      margin-bottom: 27px;
    }
    p {
      padding: 0 5px;
      @include font-light;
      font-size: 16px;
      text-align: center;
      color: #fff;
      line-height: 24px;
      letter-spacing: .01em;
    }
  }
  @media screen and (max-width: $md) {
    .service {
      flex-basis: 50%;
      max-width: 100%;
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 80px;
      }
    }
  }
  @media screen and (max-width: $sx) {
    .service {
      flex-basis: 100%;
      &:nth-child(3) {
        margin-bottom: 80px;
      }
    }
  }
}

.team {
  background-color: #e7f1f8;
  .container {
    padding: 0 20px;
  }
  h2 {
    @extend .h2;
    color: #3c4761;
    &:after {
      background-color: #c8d9e5;
    }
  }
  .subheading {
    margin-bottom: 83px;
  }
}
.members {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  .member {
    padding: 0 32px;
    flex-basis: 25%;
    max-width: 260px;
    img {
      display: block;
      margin: 0 auto 40px auto;
      width: 100%;
      max-width: 200px;
      height: 190px;
      background-color: #878787;
      border-radius: 50%;
      overflow: hidden;
    }
    h3 {
      @extend .h3;
      margin-bottom: 17px;
      color: #3c4761;
    }
    span {
      display: block;
      margin-bottom: 27px;
      text-align: center;
      font-size: 16px;
      color: #30bae7;
      @include font-regular;
    }
    p {
      margin-bottom: 24px;
      @include font-light;
      font-size: 16px;
      color: #3c4761;
      text-align: center;
      line-height: 24px;
      letter-spacing: .01em;
    }
  }
  @media screen and (max-width: $md) {
    .member {
      flex-basis: 50%;
      max-width: 100%;
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 40px;
      }
    }
  }
  @media screen and (max-width: $sm) {
    .member {
      flex-basis: 100%;
      &:nth-child(3) {
        margin-bottom: 40px;
      }
    }
  }
}
.socials {
  text-align: center;
  .link {
    position: relative;
    display: inline-block;
    margin-left: 3px;
    margin-right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #bdd1df;
    vertical-align: top;
    & > .fa {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
    &.facebook {

    }
    &.twitter {
      font-size: 1.3em;
      & > .fa {
        top: 52%;
      }
    }
    &.linkedin {
      font-size: 1.1em;
    }
    &.email {

    }
    &:hover {
      background-color: #fff;
      & > .fa {
        color: #bdd1df;
      }
    }
  }
}

.skills {
  background-color: #ffffff;
  .container {
    padding: 0 10px;
  }
  h2 {
    @extend .h2;
    color: #3c4761;
    &:after {
      background-color: #dfe8ed;
    }
  }
  .subheading {
    margin-bottom:80px;
    color: #3c4761;
  }
}
.skills-set {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  .skill {
    flex-basis: 25%;
    .progress-pie-chart {
      margin-bottom: 25px;
    }
    h3 {
      @extend .h3;
      color: #3c4761;
    }
    &:nth-of-type(1) {
      .progress-pie-chart {
        .ppc-progress-fill {
          background: #30bae7;
        }
        .left-side {
          transform: rotate(325deg);
        }
      }
    }
    &:nth-of-type(2) {
      .progress-pie-chart {
        .ppc-progress-fill {
          background: #d74680;
        }
        .left-side {
          transform: rotate(270deg);
        }
      }
    }
    &:nth-of-type(3) {
      .progress-pie-chart {
        .ppc-progress-fill {
          background: #15c7a8;
        }
        .left-side {
          transform: rotate(235deg);
        }
      }
    }
    &:nth-of-type(4) {
      .progress-pie-chart {
        .ppc-progress-fill {
          background: #eb7d4b;
        }
        .left-side {
          transform: rotate(305deg);
        }
      }
    }
  }
  @media screen and (max-width: $sm) {
    .skill {
      flex-basis: 50%;
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 40px;
      }
    }
  }
  @media screen and (max-width: $sx) {
    .skill {
      flex-basis: 100%;
      &:nth-child(3) {
        margin-bottom: 40px;
      }
    }
  }
}

.portfolio {
  padding-bottom: 111px;
  background-color: #ffdd99;
  h2 {
    @extend .h2;
    margin-bottom: 40px;
    color: #393939;
    &:after {
      background-color: #e5c37f;
    }
  }
  .subheading {
    margin-bottom: 34px;
    color: #393939;
  }
  &-btn {
    @extend .btn;
    padding: 19px 0;
    color: #fff;
    border: 0;
    border-bottom: 4px solid darken( #17c2a4, 9% );
    background-color: #17c2a4;
    &:hover {
      background-color: darken( #17c2a4, 9% );
    }
  }
}
.switch {
  margin-bottom: 64px;
  text-align: center;
  &-btn {
    display: inline-block;
    margin-left: -0.3em;
    margin-right: 11px;
    padding: 13px 27px;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    color: #393939;
    font-size: 18px;
    @include font-regular;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease .5s;
    cursor: pointer;
    &:hover {
      background-color: #fff;
    }
  }
  @media screen and (max-width: $sm) {
    &-btn {
      padding: 8px 16px;
      font-size: 11px;
    }
  }
}
.portfolio-items {
  display: none;
  margin-bottom: 80px;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  &.active {
    display: flex;
  }
  .item {
    flex-basis: 50%;
    text-decoration: none;
    figure {
      text-align: center;
      img {
        margin-bottom:27px;
      }
      figcaption {
        @include font-regular;
        color: #393939;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 0.03em;

      }
    }
    &:nth-child(1), &:nth-child(1) {
      margin-bottom: 62px;
    }
    &:hover {
      figcaption {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: $lg) {
    .item {
      margin-bottom: 66px;
      flex-basis: 100%;
      figure {
        img {
          //width: 90vw;
        }
      }
    }
  }
  @media screen and (max-width: 552px) {
    .item {
      figure {
        img {
          width: 90vw;
        }
      }
    }
  }
}

.about-us {
  padding-bottom: 98px;
  background-color: #d74680;
  h2 {
    @extend .h2;
    &:after {
      background-color: #b73c6d;
    }
  }
  .subheading {
    margin-bottom:65px;
    color: #fff;
  }
}
.quotes {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  .quote {
    //margin-bottom: 179px;
    flex-basis: 50%;
    max-width: 495px;
    @include clearfix;
    &:nth-child(1), &:nth-child(2) {
      margin-bottom: 148px;
    }
    .img {
      float: left;
      width: 96px;
      height: 96px;
      background-color: #787878;
      border-radius: 50%;
      overflow: hidden;
    }
    &-content {
      float: right;
      //padding-right: 13%;
      width: 70%;

      blockquote {
        margin-bottom: 15px;
        @include font-regular;
        font-style: italic;
        font-size: 21px;
        line-height: 35px;
        color: #fff;
        quotes: "“" "”" "‘" "’";
        &:before {
          content: open-quote;
        }
        &:after {
          content: close-quote;
        }
      }
      cite {
        display: block;
        margin-bottom: 3px;
        @include font-bold;
        font-size: 24px;
        line-height: 26px;
        color: #ffffff;
        text-transform: uppercase;
      }
      span {
        @include font-regular;
        color: #ffdd99;
        letter-spacing: 0.07em;
      }
    }
  }
  @media screen and (max-width: $md) {
    .quote {
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 60px;
      }
      margin-bottom: 60px;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: $sx) {
    .quote {

      .img {
        float: none;
        display: block;
        margin: 0 auto 15px auto;

      }
      &-content {
        float: none;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.contact {
  padding-bottom: 116px;
  background-color: #3c5499;
  h2 {
    @extend .h2;
    &:after {
      background-color: #273a71;
    }
  }
  .subheading {
    margin-bottom: 75px;
    color: #fff;
  }
}
.form {
  margin: 0 auto;
  width: 60%;
  &-wrap {
    margin-bottom: 27px;
    @include clearfix;
    .input-wrap:nth-child(2) {
      float: right;
    }
  }
  .half {
    float: left;
    width: 48%;
  }
  .input-wrap {
    position: relative;
    label {
      position: absolute;
      top: 22px;
      left: 25px;
      @include font-regular;
      font-size: 18px;
      color: #ffffff;
      & > span {
        color: red;
      }
    }
    input, textarea {
      padding: 15px 25px;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: #273a71;
      @include font-regular;
      font-size: 18px;
      color: #ffffff;
      &:focus {
        outline: none;
      }
    }
    textarea {
      margin-bottom: 60px;
      height: 200px;
      max-height: 400px;
      resize: vertical;
    }
  }
  &-btn {
    padding: 18px 0;
    color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 4px solid darken( #30bae7, 9% );
    background-color: #30bae7;
    &:hover {
      background-color: darken( #30bae7, 9% );
    }
  }
  @media screen and (max-width: $sm) {
    width: 85%;
  }
  @media screen and (max-width: $sx) {
    width: 100%;
    padding: 0 5px;
    .half {
      float: none;
      width: 100%;
      &:first-of-type {
        margin-bottom: 27px;
      }
    }
  }
}

.footer {
  //position: absolute;
  //bottom: 0;
  padding: 44px 0;
  width: 100%;
  background-color: #344b8e;
  .container {
    padding: 0 100px;
  }
  &-socials {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
    .item {
      //display: inline-block;
      margin-bottom: 10px;
      //margin-left: 26px;
      //margin-right: 26px;
      @include font-regular;
      font-weight: 600;
      font-size: 24px;
      color: #fff;
      text-decoration: none;
      transition: all ease .3s;
      &:hover {
        color: #30bae7;
      }
      &:last-child {
        //margin-right: 0;
      }
    }
  }
  @media screen and (max-width: $md) {
    &-socials {
      .item {
        //margin-right: 2.5%;
        //margin-left: 2.5%;
        //font-size: 2.8vw;
      }
    }
  }
  @media screen and (max-width: $sx) {
    &-socials {
      .item {
        //margin-right: 5%;
        font-size: 4vw;
      }
    }
  }
}
